h1 {
    text-transform: capitalize;
    text-decoration: underline;
    color: rgb(202, 52, 119);
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

h2 {
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(202, 52, 119);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: fantasy;
    font-size: 24px;
    color: rgb(108, 6, 49);
    background-color:rgb(164, 156, 188);
    background-image: url("../rl.jpg");
    background-position: center;
}

p {
    font-size: 25px;
}

hr {
    color: rgb(255, 0, 115);
}

img{
    border: 7px solid rgb(255, 255, 255);
}

